
<div class="category">
    <h2 class="category-title"><p> Anime Genre & Sub-Genre's </p></h2>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/1.jpg" title="Genres"> </p>

    <p class="category-head"> Sports </p>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/Sports.jpg" title="Sports"> </p>
    <p class="category-row"> Sports anime are shows that cover characters engaging in athletic competition. </p>
    <p class="category-row"> Focuses on character and team development, and highlights action-packed moments. </p>

    <p class="category-head"> Slice of Life </p>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/Slice_of_Life.jpg" title="Slice of Life"> </p>
    <p class="category-row"> Stories depicted in real life. </p>

    <p class="category-head"> Yōkai </p>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/Yōkai.jpg" title="Yōkai"> </p>
    <p class="category-row"> Yōkai are creature in old Japanese stories, such as oni, kappa, or tengu. </p>
    <p class="category-row"> The most famous yōkai are Tengu, Oni (Japanese ogre), and Kyubi no Kitsune (a fox with nine tails). </p>

    <p class="category-head"> Seinen </p>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/Seinen.jpg" title="Seinen"> </p>
    <p class="category-row"> For young men over 18 years old. </p>
    <p class="category-row"> Action, comedy, drama and even hentai can all be called seinen. </p>

    <p class="category-head"> Shōjo </p>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/Shōjo.jpg" title="Shōjo"> </p>
    <p class="category-row"> Word meaning "Girl". </p>
    <p class="category-row"> Most shōjo characters are female. </p>
    <p class="category-row"> Stories mainly focus on love, friendship, and romance. </p>

    <p class="category-head"> Yuri </p>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/Yuri.jpg" title="Yuri"> </p>
    <p class="category-row"> Yuri or shojo-ai are Anime about girls who are in love with other girls. </p>
    <p class="category-row"> Also called "S-class" and "Girls Love". </p>

    <p class="category-head"> Shotacon </p>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/Shotacon.jpg" title="Shotacon"> </p>
    <p class="category-row"> Shota means little boy. Shotacon is someone who likes little boys. </p>
    <p class="category-row"> Is a Japanese slang of the phrase Shōtarō complex. </p>
    <p class="category-row"> It describes an attraction to young boys around 13 years old or younger. </p>

    <p class="category-head"> Ecchi </p>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/Ecchi.jpg" title="Ecchi"> </p>
    <p class="category-row"> Means pervert in Japanese. </p>
    <p class="category-row"> Ecchi comes from the sound of H in the word hentai. </p>
    <p class="category-row"> Full of sexually provocative scenes. </p>

</div>

<div class="category">

    <p class="category-head"> Shounen </p>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/Shounen.jpg" title="Shounen"> </p>
    <p class="category-row"> Usually a combination of action and adventure. </p>
    <p class="category-row"> Relatively simple plots and focus on action. </p>
    <p class="category-row"> Typically adapted from serial manga series. </p>

    <p class="category-head"> Mecha </p>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/Mecha.jpg" title="Mecha"> </p>
    <p class="category-row"> Mecha stands for mechanical (as in Gigantic Robots). </p>
    <p class="category-row"> Mecha's will always have a pilot. </p>

    <p class="category-head"> Isekai </p>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/Isekai.jpg" title="Isekai"> </p>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/2.jpg" title="Isekai 2"> </p>
    <p class="category-row"> Isekai translates to "another world". </p>
    <p class="category-row"> Protagonist somehow gets transported to a different world and gets amazing power. </p>

    <p class="category-head"> Harem </p>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/Harem.jpg" title="Harem"> </p>
    <p class="category-row"> Male character surrounded by multiple female characters. </p>
    <p class="category-row"> More than two female characters go head-over-heels for a single male character. </p>

    <p class="category-head"> Josei </p>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/Josei.jpg" title="Josei"> </p>
    <p class="category-row"> For young women over 18 years old. </p>
    <p class="category-row"> More mature anime, usually more like real life for women. </p>

    <p class="category-head"> Yaoi </p>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/Yaoi.jpg" title="Yaoi"> </p>
    <p class="category-row"> Yaoi or shounen-ai are Anime about boys who are in love with other boys. </p>
    <p class="category-row"> Also called "boys Love". Most yaoi fans are female. </p>
    <p class="category-row"> Almost always has an emotionless expression. </p>

    <p class="category-head"> Lolicon </p>
    <p class="category-row-img"> <img src="../../assets/images/4_Genres/Lolicon.jpg" title="Lolicon"> </p>
    <p class="category-row"> Is a slang word for the phrase "Lolita complex". </p>
    <p class="category-row"> It describes an attraction to young girls around 13 years old or younger. </p>
    <p class="category-row"> Can be anywhere from an adult man too a young girl who desires other young girls. </p>

</div>

