
<div class="header-container">

<div class="menu-top">
    <h1> Welcome to The Weeb Corner </h1>
    <h3> The best place for Weebs to relax </h3>
</div>

<br><br><br><br>

<div class="slider">
    <div class="slider-title"> <h2> Popular Manga </h2> </div>
    <div class="carousel">
        <div class="wrapper">

            <div class="slider-item">           <!--   Slide 1   -->
                <img src="../../assets/images/1_Pics/Arcane_Sniper.jpg" title="Arcane Sniper">
            </div>

            <div class="slider-item">           <!--   Slide 2   -->
                <img src="../../assets/images/1_Pics/Arifureta_Saikyou.jpg" title="Arifureta Saikyou">
            </div>

            <div class="slider-item">           <!--   Slide 3   -->
                <img src="../../assets/images/1_Pics/Avatar_Last_Airbender.jpg" title="Avatar Last Airbender">
            </div>

            <div class="slider-item">           <!--   Slide 4   -->
                <img src="../../assets/images/1_Pics/Black_Clover.jpg" title="Black Clover">
            </div>

            <div class="slider-item">           <!--   Slide 5   -->
                <img src="../../assets/images/1_Pics/Bleach.jpg" title="Bleach">
            </div>

            <div class="slider-item">           <!--   Slide 6   -->
                <img src="../../assets/images/1_Pics/Boku_no_Hero_Academia.jpg" title="Boku no Hero Academia">
            </div>

            <div class="slider-item">           <!--   Slide 7   -->
                <img src="../../assets/images/1_Pics/Death_March.jpg" title="Death March">
            </div>

            <div class="slider-item">           <!--   Slide 8   -->
                <img src="../../assets/images/1_Pics/Demon_Slayer.jpg" title="Demon Slayer">
            </div>

            <div class="slider-item">           <!--   Slide 9   -->
                <img src="../../assets/images/1_Pics/Dr_Elise.jpg" title="Dr Elise: The Royal Lady With The Lamp">
            </div>

            <div class="slider-item">           <!--   Slide 10   -->
                <img src="../../assets/images/1_Pics/Edens_Zero.jpg" title="Edens Zero">
            </div>

            <div class="slider-item">           <!--   Slide 11   -->
                <img src="../../assets/images/1_Pics/Fairy_Tail.jpg" title="Fairy Tail">
            </div>

            <div class="slider-item">           <!--   Slide 12   -->
                <img src="../../assets/images/1_Pics/Farm_Life_Isekai.jpg" title="Isekai Nonbiri Nouka">
            </div>

            <div class="slider-item">           <!--   Slide 13   -->
                <img src="../../assets/images/1_Pics/Food_Wars.jpg" title="Food Wars">
            </div>

            <div class="slider-item">           <!--   Slide 14   -->
                <img src="../../assets/images/1_Pics/Frozen_Player.jpg" title="Frozen Player">
            </div>

            <div class="slider-item">           <!--   Slide 15   -->
                <img src="../../assets/images/1_Pics/Great_Mage_4000.jpg" title="Great Mage Returns After 4000 Years">
            </div>

            <div class="slider-item">           <!--   Slide 16   -->
                <img src="../../assets/images/1_Pics/Haikyuu!!.jpg" title="Haikyuu!!">
            </div>

            <div class="slider-item">           <!--   Slide 17   -->
                <img src="../../assets/images/1_Pics/Hitman_Reborn.jpg" title="Hitman Reborn">
            </div>

            <div class="slider-item">           <!--   Slide 18   -->
                <img src="../../assets/images/1_Pics/HunterXHunter.jpg" title="Hunter X Hunter">
            </div>

            <div class="slider-item">           <!--   Slide 19   -->
                <img src="../../assets/images/1_Pics/Kami_Tachi.jpg" title="Kami-tachi ni Hirowareta Otoko">
            </div>

            <div class="slider-item">           <!--   Slide 20   -->
                <img src="../../assets/images/1_Pics/Kenja_No_Mago.jpg" title="Kenja No Mago">
            </div>

            <div class="slider-item">           <!--   Slide 21   -->
                <img src="../../assets/images/1_Pics/Kumo_Desu.jpg" title="Kumo Desu Ga, Nani Ka?">
            </div>

            <div class="slider-item">           <!--   Slide 22   -->
                <img src="../../assets/images/1_Pics/Magi.jpg" title="Magi - Labyrinth Of Magic">
            </div>

            <div class="slider-item">           <!--   Slide 23   -->
                <img src="../../assets/images/1_Pics/Magic_Emperor.jpg" title="Magic Emperor">
            </div>

            <div class="slider-item">           <!--   Slide 24   -->
                <img src="../../assets/images/1_Pics/Magician_Inferior_Eyes.jpg" title="The Reincarnation Magician of The Inferior Eyes">
            </div>

            <div class="slider-item">           <!--   Slide 25   -->
                <img src="../../assets/images/1_Pics/Moon_Led_Journey.jpg" title="Moon-led Journey Across Another World">
            </div>

            <div class="slider-item">           <!--   Slide 26   -->
                <img src="../../assets/images/1_Pics/New_Gate.jpg" title="The New Gate">
            </div>

            <div class="slider-item">           <!--   Slide 27   -->
                <img src="../../assets/images/1_Pics/Noble_Lady_Invincible_Body.jpg" title="A Noble Lady and her Invincible Body">
            </div>

            <div class="slider-item">           <!--   Slide 28   -->
                <img src="../../assets/images/1_Pics/Of_Course_Palimony.jpg" title="Of Course, I'll Claim Palimony!">
            </div>

            <div class="slider-item">           <!--   Slide 29   -->
                <img src="../../assets/images/1_Pics/Omni_Readers_Viewpoint.jpg" title="Omniscient Reader’s Viewpoint">
            </div>

            <div class="slider-item">           <!--   Slide 30   -->
                <img src="../../assets/images/1_Pics/One_Piece.jpg" title="One Piece">
            </div>

            <div class="slider-item">           <!--   Slide 31   -->
                <img src="../../assets/images/1_Pics/One_Punch_Man.jpg" title="One Punch Man">
            </div>

            <div class="slider-item">           <!--   Slide 32   -->
                <img src="../../assets/images/1_Pics/Rebirth_Urban_Cultivator.jpg" title="Rebirth of the Urban Immortal Cultivator">
            </div>

            <div class="slider-item">           <!--   Slide 33   -->
                <img src="../../assets/images/1_Pics/Receptionist_Magic_World.jpg" title="I Want To Be A Receptionist Of The Magic World!">
            </div>

            <div class="slider-item">           <!--   Slide 34   -->
                <img src="../../assets/images/1_Pics/Return_To_Player.jpg" title="Return To Player">
            </div>

            <div class="slider-item">           <!--   Slide 35   -->
                <img src="../../assets/images/1_Pics/Second_Life_Ranker.jpg" title="Ranker Who Lives A Second Time">
            </div>

            <div class="slider-item">           <!--   Slide 36   -->
                <img src="../../assets/images/1_Pics/Seven_Deadly_Sins.jpg" title="Seven Deadly Sins">
            </div>

            <div class="slider-item">           <!--   Slide 37   -->
                <img src="../../assets/images/1_Pics/Solo_Leveling.jpg" title="Solo Leveling">
            </div>

            <div class="slider-item">           <!--   Slide 38   -->
                <img src="../../assets/images/1_Pics/Soul_Eater.jpg" title="Soul Eater">
            </div>

            <div class="slider-item">           <!--   Slide 39   -->
                <img src="../../assets/images/1_Pics/Tensei_Kizoku.jpg" title="Tensei Kizoku">
            </div>

            <div class="slider-item">           <!--   Slide 40   -->
                <img src="../../assets/images/1_Pics/Tensei_Shitara_Slime.jpg" title="Tensei Shitara Slime Datta Ken">
            </div>

            <div class="slider-item">           <!--   Slide 41   -->
                <img src="../../assets/images/1_Pics/Versatile_Mage.jpg" title="Versatile Mage">
            </div>

            <div class="slider-item">           <!--   Slide 1   -->
                <img src="../../assets/images/1_Pics/Arcane_Sniper.jpg" title="Arcane Sniper">
            </div>

            <div class="slider-item">           <!--   Slide 2   -->
                <img src="../../assets/images/1_Pics/Arifureta_Saikyou.jpg" title="Arifureta Saikyou">
            </div>

            <div class="slider-item">           <!--   Slide 3   -->
                <img src="../../assets/images/1_Pics/Avatar_Last_Airbender.jpg" title="Avatar The Last Airbender">
            </div>

            <div class="slider-item">           <!--   Slide 4   -->
                <img src="../../assets/images/1_Pics/Black_Clover.jpg" title="Black Clover">
            </div>

            <div class="slider-item">           <!--   Slide 5   -->
                <img src="../../assets/images/1_Pics/Bleach.jpg" title="Bleach">
            </div>

            <div class="slider-item">           <!--   Slide 6   -->
                <img src="../../assets/images/1_Pics/Boku_no_Hero_Academia.jpg" title="Boku no Hero Academia">
            </div>

            <div class="slider-item">           <!--   Slide 7   -->
                <img src="../../assets/images/1_Pics/Death_March.jpg" title="Death March">
            </div>

            <div class="slider-item">           <!--   Slide 8   -->
                <img src="../../assets/images/1_Pics/Demon_Slayer.jpg" title="Demon Slayer">
            </div>

            <div class="slider-item">           <!--   Slide 9   -->
                <img src="../../assets/images/1_Pics/Dr_Elise.jpg" title="Dr Elise: The Royal Lady With The Lamp">
            </div>

            <div class="slider-item">           <!--   Slide 10   -->
                <img src="../../assets/images/1_Pics/Edens_Zero.jpg" title="Edens Zero">
            </div>

        </div>
    </div>
</div>

</div>
