
<div class="category">
    <h2 class="category-title"><p> Types of Dere's </p></h2>

    <p class="category-head"> Tsundere </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Tsundere.jpg" title="Tsundere"> </p>
    <p class="category-row"> Treats the one they love poorly. </p>
    <p class="category-row"> Possibly causes physical harm. </p>
    <p class="category-row"> When embarrassed will call them stupid/baka. </p>

    <p class="category-head"> Yandere </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Yandere.jpg" title="Yandere"> </p>
    <p class="category-row"> row text </p>
    <p class="category-row"> learn works! </p>
    
    <p class="category-head"> Bakadere </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Bakadere.jpg" title="Bakadere"> </p>
    <p class="category-row"> learn works! </p>
    <p class="category-row"> row text </p>

    <p class="category-head"> heading </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Bakadere.jpg" title="Bakadere"> </p>
    <p class="category-row"> row text </p>
    <p class="category-row"> learn works! </p>
</div>

<div class="category">
    <h2 class="category-title"> <p> Title </p> </h2>

    <p class="category-head"> heading </p>
    <p class="category-row-img"> img </p>
    <p class="category-row"> row text </p>
    <p class="category-row"> learn works! </p>
</div>
