
<div class="category">
    <h2 class="category-title"><p> Types of Dere's </p></h2>

    <p class="category-head"> Tsundere </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Tsundere.jpg" title="Tsundere"> </p>
    <p class="category-row"> Treats the one they love poorly. </p>
    <p class="category-row"> Possibly causes physical harm. </p>
    <p class="category-row"> When embarrassed will call them stupid/baka. </p>

    <p class="category-head"> Yandere </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Yandere.jpg" title="Yandere"> </p>
    <p class="category-row"> Starts out nice and sweet but eventually becomes dark and obsessive. </p>
    <p class="category-row"> Will stalkers and use violence to be close to love interest. </p>
    <p class="category-row"> Will harm or murder any person who gets close to their love interest. </p>
    
    <p class="category-head"> Bakadere </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Bakadere.jpg" title="Bakadere"> </p>
    <p class="category-row"> Very clumsy and stupid. </p>
    <p class="category-row"> For the most part they’re very innocent and sweet. </p>

    <p class="category-head"> Dandere </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Dandere.jpg" title="Dandere"> </p>
    <p class="category-row"> Often silent and keeps to themselves. </p>
    <p class="category-row"> When alone with the person they are attracted to, they usually come out of their shell and become more loving. </p>

    <p class="category-head"> Hajidere </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Hajidere.jpg" title="Hajidere"> </p>
    <p class="category-row"> Is very nervous and embarrassed around their crush. </p>
    <p class="category-row"> Will easily blush near their love interest, and might even feint from being so bashful. </p>

    <p class="category-head"> Kamidere </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Kamidere.jpg" title="Kamidere"> </p>
    <p class="category-row"> Has a god complex. </p>
    <p class="category-row"> Highly arrogant and proud. </p>
    <p class="category-row"> Aren’t afraid to speak their minds and show everyone how right they are. </p>
</div>

<div class="category">

    <p class="category-head"> Himedere </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Himedere.jpg" title="Himedere"> </p>
    <p class="category-row"> Wishes to be treated like a princess. </p>
    <p class="category-row"> Even if they aren’t royalty. </p>

    <p class="category-head"> Deredere </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Deredere.jpg" title="Deredere"> </p>
    <p class="category-row"> Is completely kind, happy, and energetic. </p>
    <p class="category-row"> No matter what may happen, they quickly revert to their cheerful self. </p>

    <p class="category-head"> Kuudere </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Kuudere.jpg" title="Kuudere"> </p>
    <p class="category-row"> Is often cold, blunt, and cynical. </p>
    <p class="category-row"> May seem very emotionless on the outside, but on the inside they’re very caring. </p>

    <p class="category-head"> Byoukidere </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Byoukidere.jpg" title="Byoukidere"> </p>
    <p class="category-row"> Is kind and gentle at heart but has a serious illness. </p>
    <p class="category-row"> They might be confined to a hospital bed, or is just simply weak and frail. </p>

    <p class="category-head"> Nyandere </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Nyandere.jpg" title="Nyandere"> </p>
    <p class="category-row"> Has many cat like attributes. </p>
    <p class="category-row"> Adds “nyan” in their sentences. </p>

    <p class="category-head"> Bukako </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Bukako.jpg" title="Bukako"> </p>
    <p class="category-row"> Subservient to thier master. </p>
    <p class="category-row"> Always at there master's side. </p>
    <p class="category-row"> Almost always has an emotionless expression. </p>

    <p class="category-head"> Teasedere </p>
    <p class="category-row-img"> <img src="../../assets/images/3_Dere/Teasedere.jpg" title="Teasedere"> </p>
    <p class="category-row"> Are mischievous at heart and sort of like a flirt as they tease people they like. </p>
    <p class="category-row"> They care a lot for their loved one, and tease them even more. </p>
    <p class="category-row"> They like to toy around with their love interest. </p>

</div>
