

<div class="container">
<h1> Contact Us </h1>

    <form action="mailto:215138848@mycput.ac.za">
        <div class="username">
            <p> Username  </p>
            <input type="text"placeholder="    Username">
        </div>
        <div class="email">
            <p> Email  </p>
            <input type="email"placeholder="    Email">
        </div>
        <div class="message">
            <p> Message </p>
            <input type="text" maxlength="280" placeholder="    Message">
        </div>
        <div class="btn">
            <button type="submit"> Submit </button>
        </div>

    </form>
</div>


