<!-- 
  Grant Hendricks
  215138848
 -->

<head>
  <title>WeebCorner</title>
</head>
<div class="container">
  <app-header></app-header>

<div class="main-menu">
    <button mat-raised-button (click)="goto('Home')" >
        <div class="btn" *ngIf="location=='Home'" style="background-color: rgb(9, 69, 160); width: 160px;"> <h2> Home </h2> </div>
        <div class="btn" *ngIf="location!='Home'" style="background-color: rgb(76, 77, 78); width: 160px;"> <h2> Home </h2> </div>
    </button>
    <button mat-raised-button (click)="goto('Explore')" >
      <div class="btn" *ngIf="location=='Explore'" style="background-color: rgb(9, 69, 160); width: 160px;"> <h2> Explore </h2> </div>
      <div class="btn" *ngIf="location!='Explore'" style="background-color: rgb(76, 77, 78); width: 160px;"> <h2> Explore </h2> </div>
      
    </button>
    <button mat-raised-button (click)="goto('Learn')" >
      <div class="btn" *ngIf="location=='Learn'" style="background-color: rgb(9, 69, 160); width: 160px;"> <h2> Learn </h2> </div>
      <div class="btn" *ngIf="location!='Learn'" style="background-color: rgb(76, 77, 78); width: 160px;"> <h2> Learn </h2> </div>
      
    </button>
    <button mat-raised-button (click)="goto('Contact')" >
      <div class="btn" *ngIf="location=='Contact'" style="background-color: rgb(9, 69, 160); width: 160px;"> <h2> Contact </h2> </div>
      <div class="btn" *ngIf="location!='Contact'" style="background-color: rgb(76, 77, 78); width: 160px;"> <h2> Contact </h2> </div>
      
    </button>
</div>

<div class="main-body">

  <div *ngIf="location=='Home'">
        <app-home></app-home>
  </div>
  
  <div *ngIf="location=='Explore'">
        <app-explore></app-explore>
  </div>
  
  <div *ngIf="location=='Contact'">
        <app-contact></app-contact>
  </div>
  
  <div *ngIf="location=='Learn'">
        <app-learn></app-learn>
  </div>
  
</div>       <!-- main-body -->

<div class="bottom">
      <app-footer></app-footer>
</div>

</div>
