<!-- 
  Grant Hendricks
  215138848
 -->

<head>
  <title>WeebCorner</title>
</head>
<div class="container">
  <app-header></app-header>

<div class="main-menu">
    <button mat-raised-button (click)="goto('Home')" >
        <h2> Home </h2>
    </button>
    <button mat-raised-button (click)="goto('Explore')" >
        <h2> Explore </h2>
    </button>
    <button mat-raised-button (click)="goto('Contact')" >
        <h2> Contact </h2>
    </button>
    <button mat-raised-button (click)="goto('Learn')" >
        <h2> Learn </h2>
    </button>
</div>

<div class="main-body">

  <div *ngIf="location=='Home'">
        <app-home></app-home>
  </div>
  
  <div *ngIf="location=='Explore'">
        <app-explore></app-explore>
  </div>
  
  <div *ngIf="location=='Contact'">
        <app-contact></app-contact>
  </div>
  
  <div *ngIf="location=='Learn'">
        <app-learn></app-learn>
  </div>
  
</div>       <!-- main-body -->

<div class="bottom">
      <app-footer></app-footer>
</div>

</div>
